article{
    max-width: 600px;
    max-height: none;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
    background: white;
    border-radius: 40px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
article*{
    margin: 0 auto;
}

img{
    width: 200px;   
    height: 200px;
    border: 1px solid #0d0d0e;
    border-radius: 90%;
    object-fit:cover;
}

@media(min-width: 768px){
    article{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    figure{
        margin-right: 1rem;
    }
}
body{
    background: rgb(185, 185, 185);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img:hover{ transform: scale(1.05); transition: 0.3s ease;}
li{
    text-align: left;
}
header nav{
    background: #838383;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
}
header nav a{
    color: #ffffff;
    margin: 0 1rem;
    text-decoration: none;
}
header, body{
    width: 100%;
}